@media screen and (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    .sub-title{
        font-size: 3vw;
    }
    .title{
        font-size: 6vw;
    }
    .text{
        font-size: 3vw;
    }
    .interaction {
        font-size: 3vw;
    }
    .second-interaction{
        font-size: 3vw;
    }

    .navbar{
        .second-interaction{
            font-size: 2vw ;
        }
        .logo{
            width: 16vw;
        }
    }

    .footer{
        width: 100%;
        .content{
            gap: 1vw;
            .lists{
                gap: 1vw;
                padding-left: 1vw;
                padding-right: 1vw;
                width: 100%;
                justify-content: space-evenly;
                .list{
                    padding-inline-start: 1vw;
                    .sub-title{
                        font-size: 2vw;
                    }
                    .li{
                        .text{
                            font-size: 1.75vw;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}